body{
    width: 100%;
    background-color: black;
    color: white;
}

.bio{
    text-align: center;
    display: inline-block 2px white;
    width: 60%;
    margin-left: 250px;
    line-height: 1.4;
    text-align: justify;
}
.atribute{
    background-color: white;
    columns: 50px 2;
   
}
.atribute>blockquote{
    font-size: 32px;
    color: black;
    padding: 0px;
    margin-top: 40px;
    text-align: center;


}
.header{
    text-align: center;
}